div#sidePane{
    background:lightgray;
    float:left;
    width:15%;
    padding:2%;
    margin-top:5%;
}
div#workspace{
    width:75%;
    padding:2%;
    margin-left:20%;
}
#workspace h4{
    color:teal;
    text-decoration: underline;
    text-indent:5%;
}