<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_1.css' %}" />
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="header-logo"> <img src="{% static 'images/vit-logo.png' %}" width="200px" height="75px"/> </div>
            <div id="header-title"><h2> Assessment </h2></div>
        </div>
        <div id="content">
        </div>
    </div>
</body>
</html>