<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>
<body>
    <div id="header">
        <table>
            <tr>
                <td align="center" class="bigSpan">
                    <h2> Student Assessment </h2>
                    <h3><u> Student Portal </u></h3>
                </td>
                <td align="right" class="smallSpan">
                    <a href="logout" id="logoutLink">Logout {{ username }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="content-main">
        <div id="question-div">
            <h3> Question </h3>
            <p> {{ question.question }} </p>
        </div>
        <div id="test-cases-div">
            <h3> Example Test cases </h3>
            <table border="1" width="50%">
                <tr>
                    <th> Input </th>
                    <th> Expected Output</th>
                </tr>
                {% for test_case in test_cases %}
                    <tr>
                        <td> <pre> {{  test_case.input_data | safe }} </pre> </td>
                        <td> <pre> {{  test_case.output_data | safe }} </pre> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <p class="error"> {{ error }} </p>
        <p class="result-block"> {{ status.name }} </p>
        <div id="student-code">
            <h3> Your Solution </h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
                <input type="button" value="Check">
            </form>
        </div>
    </div>
</body>
</html>
