<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Portal</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>
<body>
    <div id="header">
        <table>
            <tr>
                <td align="center" class="bigSpan">
                    <h2> Student Assessment </h2>
                    <h3><u> Faculty Portal </u></h3>
                </td>
                <td align="right" class="smallSpan">
                    <a href="logout" id="logoutLink">Logout {{ username }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="content-main">
        {{ data }} <br />
        <a href="createMCQTest" class="linkButton"> NEW MCQ TEST + </a> <br />
        <a href="createCodeTest" class="linkButton"> NEW CODE TEST + </a> <br />
        <a href="createCodeTestv2" class="linkButton"> NEW CODE TEST v2.0</a> <br />
        <h4> Code Tests </h4>
        {{ code_tests | safe }} <br />
    </div>
</body>
</html>