<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Code Test</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>
<body>
    <div id="header">
        <table>
            <tr>
                <td align="center" class="bigSpan">
                    <h2> Student Assessment </h2>
                    <h3><u> Faculty Portal </u></h3>
                </td>
                <td align="right" class="smallSpan">
                    <a href="logout" id="logoutLink">Logout {{ username }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="content-main">
        <div id="sidePane">
            <div id="sidePane-aboutTest">
                <p><strong>Test Name :</strong> {{ test_name }} </p>
                <p><strong>Test ID#  :</strong> {{ test_id }} </p>
            </div>
            <div id="sidePane-questionsNav">
                <table width="90%">
                    {{ question_nav_table | safe }}
                </table>
            </div>
            <div id="sidePane-buttons">
                <button> Finish Test </button>
                <button>Discard Test </button>
            </div>
        </div>
        <div id="workspace">
            <form>
                {% csrf_token %}
                <h4> Question </h4>
                <textarea name="question" rows="10" cols="100"></textarea>
                <h4> Test Case 1 </h4>
                <textarea name="testcase1_input" rows="5" cols="45">{{ t1_input }}</textarea>
                <textarea name="testcase1-output" rows="5" cols="45"> {{ t1_output }}</textarea>
                <h4> Test Case 2 </h4>
                <textarea name="testcase2_input" rows="5" cols="45"> {{ t2_input }}</textarea>
                <textarea name="testcase2-output" rows="5" cols="45"> {{ t2_output }}</textarea>
                <h4> Test Case 3 </h4>
                <textarea name="testcase3_input" rows="5" cols="45"> {{ t3_input }}</textarea>
                <textarea name="testcase3-output" rows="5" cols="45">{{ t3_output }}</textarea>
                <br />
                <input type="submit" value="Save & Next">
            </form>
        </div>
    </div>
</body>
</html>
