<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Code Test</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    </style>
</head>
<body>
    <div id="header">
        <table>
            <tr>
                <td align="center" class="bigSpan">
                    <h2> Student Assessment </h2>
                    <h3><u> Faculty Portal </u></h3>
                </td>
                <td align="right" class="smallSpan">
                    <a href="logout" id="logoutLink">Logout {{ username }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="error">
        {{ error }}
    </div>
    <div id="content-main">
        <div id="sidePane">
            <div id="sidePane-aboutTest">
                <p><strong>Test Name :</strong> {{ test_name }} </p>
                <p><strong>Test ID#  :</strong> {{ test_id }} </p>
            </div>
            <div id="sidePane-questionsNav">
                <table width="90%">
                    {{ question_nav_table | safe }}
                </table>
            </div>
            <div id="sidePane-buttons">
                <a href="finish_code_test"></a><button> Finish Test </button></a>
                <a href="discard_code_test"></a><button>Discard Test </button></a>
            </div>
        </div>
        <div id="workspace">
            <form action="createCodeTest" method="POST">
                {% csrf_token %}
                <h4> Question </h4>
                {{ form.question }}
                <h4> Test Case 1 </h4>
                {{ form.t1_input }}
                {{ form.t1_output }}
                <h4> Test Case 2 </h4>
                {{ form.t2_input }}
                {{ form.t2_output }}
                <h4> Test Case 3 </h4>
                {{ form.t3_input }}
                {{ form.t3_output }}
                <br />
                <input type="submit" value="Save & Next">
            </form>
        </div>
    </div>
</body>
</html>
