<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Code Test</title>
    <script type="text/javascript">
        function countTestCases(str)
        {
            var count = (str.match(/\$END/g) || []).length;
            document.getElementById('num_test_cases').value = count;
        }
    </script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>
<body>
    <div id="header">
        <table>
            <tr>
                <td align="center" class="bigSpan">
                    <h2> Student Assessment </h2>
                    <h3><u> Faculty Portal </u></h3>
                </td>
                <td align="right" class="smallSpan">
                    <a href="logout" id="logoutLink">Logout {{ username }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="error">
        {{ error }}
    </div>
    <div id="content-main">
        <div id="sidePane">
            <div id="sidePane-aboutTest">
                <p><strong>Test Name :</strong> {{ test_name }} </p>
                <p><strong>Test ID#  :</strong> {{ test_id }} </p>
            </div>
            <div id="sidePane-questionsNav">
                <table width="90%">
                    {{ question_nav_table | safe }}
                </table>
            </div>
            <div id="sidePane-buttons">
                <a href="finish_code_test"><button> Finish Test </button></a>
                <a href="discard_code_test"><button>Discard Test </button></a>
            </div>
        </div>
        <div id="workspace">
            <form action="createCodeTestv2" method="POST">
                {% csrf_token %}
                <h4> Question </h4>
                {{ form.question }}

                <h4> Hidden Test Cases </h4>
                {{ form.hidden_test_case_input }}
                {{ form.hidden_test_case_output }}

                <h4> Visible Test Cases </h4>
                {{ form.visible_test_case_input }}
                {{ form.visible_test_case_output }}

                <h4> Max Execution Time </h4>
                {{ form.max_exec_time }}
                <input type="submit" value="Save & Next">
            </form>
        </div>
    </div>
</body>
</html>
