<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-base.css' %}" />
    <style type="text/css">
        #header-title a {
            text-decoration:none;
            color:white;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="header-logo"> <img src="{% static 'images/vit-logo.png' %}" width="200px" height="75px"/> </div>
            <div id="header-title"><a href="/start"><h2> Assessment </h2></a></div>
        </div>
        <div id="content">
            <form action="{{ form_action }}" method="POST">
                {% csrf_token %}
                <table id="LoginTable">
                    <tr><td><span id="sub-title"> {{ title | upper }} </span></td></tr>
                    <tr><td><hr></td></tr>
                    <tr><td>{{ form.username.label }}</td></tr>
                    <tr><td>{{ form.username }}</td></tr>
                    <tr><td>{{ form.password.label }}</td></tr>
                    <tr><td>{{ form.password }}</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td colspan="2" align="center"> <input type="submit" value="Login" /> </td></tr>
                    <tr><td><hr></td></tr>
                    <tr><td><a href="#">forgot password?</a></td></tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>